.dashboard_info_text{
  font-color: rgba(87, 86, 86, 0.99);
  font-size: small;
}

.dashboard_unit_text{
  font-color: rgba(87, 86, 86, 0.99);
  font-size: medium;
}

.dashboard_last_value_text{
  font-color: rgba(87, 86, 86, 0.99);
  font-size: xx-large;
}