<Card>
    <template #title>
        Store new record
    </template>
    <template #content>


        <div class="formgrid grid">
            <div class="field col">
                <label class="theme_font_color" for="resourceType">Resource</label>
                <Dropdown :filter="true" class="inputfield w-full" id="resourceType" v-model="selectedResourceType"
                          :options="typeList"
                          optionLabel="name"
                          @change="updateOnSelect" placeholder="Select a resource Type"/>

            </div>
            <div class="field col">
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label class="theme_font_color " for="recordDate">Date</label>

                <Calendar id="recordDate" class="inputfield w-full" v-model="recordDate" dateFormat="dd.mm.yy"
                          :showIcon="true"/>

            </div>
            <div class="field col">
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label class="theme_font_color " for="resourceState">Current Value</label>

                <InputNumber :disabled="!enableConsumptionEntry" class="inputfield w-full" id="resourceState"
                             mode="decimal" v-bind:minFractionDigits="valueFraction" v-model="resourceValueInput" v-bind:suffix="unit"/>

            </div>
            <div class="field col">
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <Button @click="storeValue" label="Add Entry"/>
            </div>
            <div class="field col">
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <Message v-for="msg of messages" :severity="msg.severity" :key="msg.id">{{ msg.content }}</Message>
            </div>
        </div>


    </template>

</Card>